[submodule "externals/mdspan"]
	path = externals/mdspan
	url = https://github.com/kokkos/mdspan
[submodule "externals/magic_enum"]
	path = externals/magic_enum
	url = https://github.com/mhaseeb123/magic_enum
[submodule "externals/argparse"]
	path = externals/argparse
	url = https://github.com/mhaseeb123/argparse
